---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostList from "@components/PostList.astro";
import Paginator from "@components/Paginator.astro";
import type {Page} from "astro";
import { GetPosts } from "@utils/GetPosts";
import { PAGE_SIZE } from "@utils/Constants";
import RSSFeed from "@components/RSSFeed.astro";

// @ts-expect-error
export async function getStaticPaths({ paginate }) {
    const posts = await GetPosts(true);

    return paginate(posts, {
        pageSize: PAGE_SIZE
    });
}

interface Props {
    page: Page<CollectionEntry<"posts">>
}

const { page } = Astro.props;
const baseUrl = import.meta.env.SITE ?? Astro.url.origin;
---

<Layout
    title={"Recent Posts - " + page.currentPage.toString()}
    description="최신 게시글 목록입니다."
    url={baseUrl + Astro.url.pathname}
>
    <div class="content-container my-6 px-4 space-y-12">
        <h2 class="text-center font-bold text-2xl mb-6 border-b-2 pb-4">Recent Posts</h2>

        <PostList posts={page.data} />

        <div class="mt-6">
            <Paginator page={page} baseUrl="/posts" />
        </div>

        <RSSFeed />
    </div>
</Layout>
