---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import PostCard from "../../components/PostCard.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});
---

<Layout title="Jaehee.dev">
    <h2>Recent Posts</h2>

    {posts.map(post => (
        <PostCard post={post} />
    ))} 
</Layout>
