---
import { slug as slugger } from "github-slugger"; 
import Layout from '../../layouts/Layout.astro';
import {getCollection} from "astro:content";

const posts = await getCollection("posts");
posts.forEach((post) => console.log(slugger(post.data)));
---

<Layout title="Jaehee.dev">
    <p>This is posts.astro</p>

    {posts.map(post => (
        <p>
        <a href={"/posts/" + slugger(post.data.title)}>{slugger(post.data.title)}</a>
        </p>
    ))} 
</Layout>
