---
import { slug as slugger} from "github-slugger";
import Layout from "@layouts/Layout.astro";
import GetSeriesList from "@utils/GetSeriesList";

const series = await GetSeriesList();
---

<Layout title="Jaehee.dev">
    {series.map((series) => (<a href={"/series/" + slugger(series)}>{series}</a>))}  
</Layout>
