---
import { slug as slugger } from "github-slugger";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import GetTagList from "@utils/GetTagList";
import PostList from "@components/PostList.astro";

export async function getStaticPaths () {
    const tagList = await GetTagList();
    const posts = await getCollection("posts");
    
    return tagList.map((tag) => {
        return {
            params: { tag: slugger(tag) },
            props: {
                tag: tag,
                posts: posts.filter(post => post.data.tags ? post.data.tags.includes(tag) : false) 
            }
        }
    });
}

interface Props {
    posts: Array<CollectionEntry<"posts">>
    tag: string
}

const { posts, tag } = Astro.props;
---

<Layout title="Tag List">
    <p class="flex flex-col text-center mb-6 border-b-2 pb-4">
        <span>Tag</span>
        <span class="font-bold text-2xl text-sky-300">{tag}</span>
    </p>

    <PostList posts={posts} />
</Layout>
