---
import { Image } from "astro:assets";

import imgProfileImage from "@assets/images/profile_image.webp";
---

<header class="flex flex-col w-full justify-center items-center mt-6">
    <a href="/">
        <Image class="rounded-full w-28" src={imgProfileImage} alt="Profile image with cat" />
        <p class="mt-1 text-3xl font-bold hover:text-sky-300">Jaehee</p>
    </a>

    <p class="mt-1">Hi!</p>

    <nav class="container border-y py-4 mt-6">
        <ul class="w-full flex justify-between px-6 font-bold">
            <li class="hover:text-sky-300"><a href="/posts/1">Posts</a></li>
            <li class="hover:text-sky-300"><a href="/portfolio">Portfolio</a></li>
            <li class="hover:text-sky-300"><a href="https://github.com/LDobac">Github</a></li>
            <li class="hover:text-sky-300"><a href="https://www.instagram.com/jaehee24_/">Instagram</a></li>
        </ul>   
    </nav>  
</header>
 
