---
import type { CollectionEntry } from "astro:content";
import PostCard from "./PostCard.astro";

interface Props {
    posts: Array<CollectionEntry<"posts">>
}

const { posts } = Astro.props;
---

<div class="flex flex-col gap-6 items-center justify-center md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    {posts.map(post => (<PostCard post={post} />))}
</div>
