---
import GetTagList from "@utils/GetTagList"
import TagLink from "./TagLink.astro";

interface Props {
    tags?: Array<string>
}

const { 
    tags = await GetTagList()
} = Astro.props;

---
<div class="flex flex-row flex-wrap w-full gap-3">
    {tags.map((tag) => (
        <TagLink tag={tag} />
    ))}
</div>
